@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lora:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("component/container.css");
@import url("component/avatar.css");
@import url("component/button.css");
@import url("component/banner.css");
@import url("component/card.css");

/* Main design*/
body {
	background-color: #F7F9FC;
	color : #001f46;
	font-family: 'Lora', serif;
	text-align: justify;
	font-size: 17px;
	font-weight: lighter;
	margin: 0px;
}



h1, h2, h3, a{
	font-family: 'Roboto', sans-serif;
}


h1{
	color : #f6a800;
	font-size: 40px;
	font-weight: 600;
}


h2{
	color: #f6a800;
	font-size : 25px;
	font-weight: 700;
}


a{
	text-decoration: none;
	font-weight: 500;
	transition: color 0.3s ease;
}
